<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>calculadora</title>
</head>
<body>
  <h1>  CALCULADORA </h1>
  <form action="/calc" method="POST">
    <input type="number" name="num1">
    <select name="operador">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="*">*</option>
      <option value="/">/</option>
    </select>
    <input type="number" name="num2">
    <button type="submit">calcular</button>
  </form>
</body>
</html>